<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:800,700,400,600' rel='stylesheet' type='text/css'>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<title>CB West National Honor Society</title>
</head>
<body>
{% block content %}{% endblock %}
<div id = 'space2'>
{%if logged%}
<form id = 'login' action="/log_out/">
<input type="submit"  id="log" class="btn btn-info btn-lg" value='Logout'>
</form>
<form id = 'login' action="/{{year}}/{{month}}/my_events">
<input type="submit"  id="log" class="btn btn-info btn-lg" value='My Events'>
</form>
</form>
<form id = 'login' action="/profile">
<input type="submit"  id="log" class="btn btn-info btn-lg" value='My Profile'>
</form>
{%if student.is_officer%}
<form id = 'login' action="/event_creator">
<input type="submit"  id="ec" class="btn btn-info btn-lg" value='Create Event'>
</form>
<form id = 'login' action="/students_list">
<input type="submit"  id="ec" class="btn btn-info btn-lg" value='Students'>
</form>
{%endif%}
{%else%}
<form id = 'login' action="/log_in">
<input type="submit"  id="log" class="btn btn-info btn-lg" value='Log In'>
</form>
{%endif%}
</div>
{%if not_home%}
<form id = 'login' action="/">
<input type="submit"  id="homebut" class="btn btn-info btn-lg" value='Home'>
</form>
{%else%}
{%if logged%}
<div id = 'welc'>Welcome, {{student.firstname}}!</div>
{%endif%}{%endif%}
</body>
</html>