{%load staticfiles%}
<link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/css/bootstrap.css" rel="stylesheet" media="screen">



{%if officer%}
<table id="myTable" class="table tablesorter">
<tr><th><a href = "#">NAME</a></th><th><a href = "#">EMAIL</a></th><th><a href = "#">PHONE</a></th><th><a href = "#">Delete?</a></th></tr>
{% for e in emailsx %}
<tr>
<td>{{e.0}}</td>
<td>{{e.1}}</td>
<td>{% if e.2 == "000-000-0000"%}None{%else%}{{e.2}}{%endif%}</td>
<td><a href = "#" onclick = "delFunc('{{e.0}}', '{{e.3}}')">X</a></td>
</tr>
{%endfor%}
</table>
{%else%}
{% for i in namesx %}
{{i}}
<br>
{% endfor %}
{%endif%}
</table>
<br>
{%if officer%}<button id="copy-button" data-clipboard-text="{% for e in emailsx %}{{e.1}},{%endfor%}" title="Click to copy me.">Copy Email List</button></button>{%endif%}
{%if officer%}<button id="phone-button" data-clipboard-text="{% for e in emailsx %}{{e.2}},{%endfor%}" title="Click to copy me.">Copy Phone Number List</button>{%endif%}
    <script src="{% static 'events/ZeroClipboard.js' %}"></script>
    <script language="JavaScript">
        new ZeroClipboard( document.getElementById("copy-button") );
    </script>
    <script src="{% static 'events/ZeroClipboard.js' %}"></script>
    <script language="JavaScript">
        new ZeroClipboard( document.getElementById("phone-button") );
    </script>
<br><br>
<a href = '{{back}}'>Back</a>
<script>
function delFunc() {
    if (confirm("Are you sure you want to remove " + arguments[0] + " from the event?") == true) 
    {   
    	window.location.href = "/{{eventpk}}/" + arguments[1] + "/unsign/";
	}
}
</script>

<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.0-rc2/js/bootstrap.min.js"></script>
<script src="http://tutsme-webdesign.info/tutorials/tablesorter/jquery.tablesorter.min.js"></script>
<script>
	$(document).ready(function(){
	$(function(){
	$("#myTable").tablesorter();
	});
	});
</script>

