<html>
<body>
<h1>{{ object.name }}</h1>
<p>Date: {{ object.date }}</p>
<p>Start Time: {{ object.start_time }}</p>
<p>End Time: {{ object.end_time }}</p>
<p>Location: {{ object.location }}</p>
<p>Total Hours: {{ object.total_hours }}</p>
<p>Total Points (Only for second year members): {{ object.total_points}}</p>
<p>{{object.num_students}} out of {{ object.max_students}} signed up</p>
<p>Description: {{ object.event_description}}</p>

{% if officer %}
<a href="/{{object.pk}}/edit/">Edit</a><br>
<a href = '#' onclick="delFunc()">Delete</a>
{%endif%}
<br>
{% if full %}
<p>EVENT IS FULL</p>
{%endif%}
{%if object.event_completed%}
{%else%}
{%if signed_up%}
<a href="/{{object.pk}}/event_unsign_up/">Un-Sign-Up</a>
{%elif full != True%}
<a href="/{{object.pk}}/event_sign_up/">Sign Up!</a>
{%endif%}
{%endif%}
<br>
<a href="/{{object.pk}}/students/">Who's signed up?</a>
<br><br>
{%if my%}
<a href='/{{year}}/{{month}}/my_events/'>Back</a>
{%else%}
<a href='/{{year}}/{{month}}/'>Back</a>
{%endif%}

<script>
function delFunc() {
    if (confirm("Are you sure you want to delete this event?") == true) 
    {   
    	window.location.href = "/{{object.pk}}/delete/";
	}
}
</script>
</body>
</html>