{% extends "events/base.html" %}
{% load staticfiles %}
{%block content%}
<link rel="stylesheet" type="text/css" href="{% static 'events/detailStyle.css' %}" />
<div id = 'shift'>
<h1>{{ student.firstname }} {{student.lastname}}</h1>
<p>Email: {{ student.email }}<br>
Phone: {{student.phone }}<br>
Membership Status: {% if student.is_second_year %}Second Year Member{%else%}First Year Member{%endif%}</p>
<p><a href = "/pass_change/">Change Password</a></p>
<p>Outside Hours: {{student.addedHours}}
{%if supers%}
<a href = '/sub_out/{{student.pk}}'> - </a>
<a href = '/add_out/{{student.pk}}'> + </a>
{%endif%}
<b>
<p>Total Hours: {{ student.hours }}</p>
<p>Required Hours: {{student.required_hours}}
{%if supers%}
<a href = '/min_req/{{student.pk}}'> - </a>
<a href = '/add_req/{{student.pk}}'> + </a>
{%endif%}
</p>
</b>
<p>Completed Events<br>
{%for e in events%}
{%if e.event_completed%}
<a href = '{{e.get_absolute_url}}'>{{e.name}}</a>
<br>
{%endif%}
{%endfor%}
</p>

<p>Upcoming Events<br>
{%for e in events%}
{%if not e.event_completed%}
<a href = '{{e.get_absolute_url}}'>{{e.name}}</a>
<br>
{%endif%}
{%endfor%}
<br><br>
{%if supers%}
<a href = '/students_list/'>Back to List of Students</a>
{%endif%}
</div>
{%endblock%}