{% extends "events/base.html" %}
{% load staticfiles %}
{%block content%}
<link rel="stylesheet" type="text/css" href="{% static 'events/detailStyle.css' %}" />
<div id = 'shift'>
<h1>{{ student.firstname }} {{student.lastname}}</h1>
<p>Email: {{ student.email }}</p>
<b>
{%if second%}
<p>Total Points: {{ student.points}}</p>
{%else%}
<p>Total Hours: {{ student.hours }}</p>
{%endif%}</b>
<p>Completed Events<br>
{%for e in events%}
{%if e.event_completed%}
<a href = '{{e.get_absolute_url}}'>{{e.name}}</a>
<br>
{%endif%}
{%endfor%}
</p>

<p>Upcoming Events<br>
{%for e in events%}
{%if not e.event_completed%}
<a href = '{{e.get_absolute_url}}'>{{e.name}}</a>
<br>
{%endif%}
{%endfor%}
<br><br>
<a href = '/students_list/'>Back to List of Students</a>
</div>
{%endblock%}